@import 'colors';

.courses {

  background-color: rgba(0,0,0,0.15);
  // background-color: rgba(247, 239, 239, 0.25);

  color: white;

  h1 {
    color: $DARK_GREY;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
  }

  %courses {

    .item {

      background-color: rgba(0,0,0,0.25);

      border-radius: 5px;
      border: 1px solid #cbcbcb;
      opacity: 0.85;
      padding-left: 15px;
      padding-top: 5px;
      margin-right: 50%;
      margin-left: 60px;
      margin-bottom: 30px;

      &:hover {
        border-color: #a7a4a4;
        opacity: 1;
      }

      h2 {
        color: $PURPLE;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
      }

      .body {
        color: white;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
      }

      .footer {
        float: right;
        margin-right:10px;

        .far.fa-trash-alt {
          color: $RED;
          font-size: 20px;
          opacity: 0.6;

            &:hover {
              opacity: 1;
            }
        }
      }

      .footer.drop {
        float: right;
        font-size: 25px;
        margin-right:10px;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
        
        a {
          color: $RED;
        }
      }

      .footer.enroll {
        float: right;
        font-size: 25px;
        margin-right:10px;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
        
        a {
          color: $GREEN;
        }
      }

    }

  }

  .owned {
    @extend %courses;
  }

  .unowned {
    @extend %courses;
  }
}

.create {

  background-color: rgba(247, 239, 239, 0.25);

  .button {
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  h1 {
    color: $DARK_GREY;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
  }

  form {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-left: 60px;

    .line {
      margin-bottom: 25px;

      .submitButton{

      }

    }
  }

}