@import 'colors';

.complete {
  background-color: rgba(12, 140, 48, 0.75);
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  

  h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 1px;
    padding: 5px 0px;
    text-align: center;
  }

  .solution {
    margin-bottom: 15px;
  }

}

.solver {
  margin-top: 0px;
  padding-top: 0px;
  background-color: rgba(0, 0,0,0.15); 
     

  .button {
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  .code {
    background-color: rgba(0,0,0,0.55); 
  }

  .edit {

    .link {
      color: $YELLOW;
      font-size: 25px;
      text-align: center;
    }

  }

  h1 {
    color: $PURPLE;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  .problem {

    h3 {
      font-size: 25px;
      color: #545454;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      margin-left: 30px;
    }

    .body {
      color: white;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 50px;
      margin-left: 30px;
    }
  }

  .solution {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    
  }

  .workspace {
    width: 75%;
    margin: 25px 10%;
  }

}